/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

     .item:hover .icon {
        filter: grayscale(1) brightness(200%);
        color: white;
    }
     .item:hover .h3 {
        color: var(--bodyTextColorWhite);
    }
     .item:hover .itemText {
        color: var(--bodyTextColorWhite);
    }
     .icon {
        width: auto;
        height: 3rem;
        margin-bottom: 1.5rem;
        display: block;
        transition: filter 0.3s;
    }
     .h3 {
        /* 20px - 25px */
        font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
        line-height: 1.2em;
        margin: 0;
        margin-bottom: 1rem;
        color: var(--headerColor);
        transition: color 0.3s;
    }
     .itemText {
        font-size: 1rem;
        line-height: 1.5em;
        margin: 0;
        color: var(--bodyTextColor);
        transition: color 0.3s;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
     .title {
        margin: 0;
    }
     .cardGroup {
        justify-content: space-between;
        /* makes sure every box "stretches" to be the same height as the tallest box */
        align-items: stretch;
        flex-direction: row;
        /* 16px - 20px */
        gap: clamp(1rem, 1.5vw, 1.25rem);
    }
     .item {
        width: auto;
        /* 16px - 32px */
        padding: 2rem clamp(1rem, 2.1vw, 2rem);
    }
}
