@media only screen and (min-width: 0rem) {
    .section {
        padding: var(--sectionPadding);
    }
    .container {
        width: 100%;
        max-width: 34.375em;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(3rem, 6vw, 4rem);
    }
    .content {
        text-align: left;
        width: 100%;
        max-width: 33.875rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .color {
        color: var(--secondary);
    }
    .text {
        margin-bottom: 1rem;
    }
    .text:last-of-type {
        margin-bottom: 2rem;
    }
    .buttonSolid {
        font-size: 1rem;
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
    }
    .buttonSolid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    .buttonSolid:hover:before {
        width: 100%;
    }
    .imageGroup {
        font-size: min(2.35vw, 0.8em);
        width: 35.4375em;
        height: 37.75em;
        margin-top: 3.875em;
        position: relative;
        order: -1;
        transform: translateX(-1.9375em);
    }
    .imageGroup:before {
        content: "";
        width: 11.625em;
        height: 10.0625em;
        background: var(--primary);
        opacity: 1;
        position: absolute;
        display: block;
        top: -3.875em;
        right: -3.875em;
        animation-name: floatAnimation;
        animation-duration: 6s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    .picture {
        display: block;
        position: absolute;
    }
    .picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .pictureLarge {
        width: 29.75em;
        height: 33.875em;
        top: 0;
        right: 0;
    }
    .pictureSmall {
        width: 16.25em;
        height: 14.0625em;
        border: 0.625em solid #ffffff;
        background-color: #fff;
        bottom: 0;
        left: 0;
        animation-name: floatAnimation2;
        animation-duration: 20s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
}

@media only screen and (min-width: 64rem) {
    .container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
    }
    .content {
        width: 51%;
    }
    .imageGroup {
        font-size: min(1.1vw, 1em);
        margin-right: 3.875em;
        order: 2;
    }
}
